/* .investor-alerts {
  max-height: 425px; 
  overflow-y: scroll;     
  overflow-x: hidden;
  padding-right: 10px;
  scroll-behavior: smooth;
  scrollbar-width: none;   
  -ms-overflow-style: none;  
}

.investor-alerts::-webkit-scrollbar {
  display: none;
} */


.investor-alerts {
  max-height: 425px;       /* Adjust height as needed */
  overflow-y: scroll;      /* Enables vertical scrolling */
  overflow-x: hidden;
  padding-right: 10px;
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  .investor-alerts {
    max-height: none;     /* Remove fixed height */
    overflow-y: visible;  /* Disable scrolling */
    padding-right: 0;
  }
}