<div class="d-flex align-items-center justify-content-center vh-100 bg-light">
  <div class="text-center p-5 fade-in">
    <div class="">
      <h4 class="display-1 fw-bold text-primary bounce">404 - Page Not Found</h4>
      <h5 class="text-dark">The page you requested could not be found. Please check the URL for any spelling errors or head back to the <a routerLink="/"class="text-dark fw-bold">homepage</a>.</h5>
      <!-- <p class="lead text-secondary mb-4">🚫 The link you entered is invalid.</p>
      <p class="lead text-secondary mb-4">Check the link once and reload the website.</p> -->
      <!-- <strong>Thank you.</strong> -->
      <!-- <a routerLink="/" class="btn btn-primary px-4 py-2 btn-custom">Go Back Home</a> -->
    </div>
  </div>
</div>
